body {
  background-color: rgb(247, 238, 226);
}
.link-style {
  background-color: darkorange;
  color: aliceblue;
  border-radius: 10px;
  text-decoration: none;
}
button {
  background-color: burlywood;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}
.filter-category {
  text-align: center;
}
.header-links {
  background-color: darkorange;
  color: aliceblue;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 10px;
}
.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
user-form input,
.user-form button {
  padding: 10px;
  font-size: 16px;
}

.user-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #2d6730;
}
