.order-link {
  background-color: rgba(255, 140, 0, 0.434);
  border: none;
  border-radius: 5px;
  color: white;
  height: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-btn {
  flex: 1;
  max-width: 170px;
  background-color: rgba(247, 223, 216, 0.543);
  border: none;
  border-radius: 5px;
  color: rgb(13, 22, 30);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.menu-btn-img {
  height: 4rem;
  width: 4rem;
}

.menu-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-bottom: 20px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(243, 227, 219, 0.594);
 
}
.header-icon {
  margin-right: 7px;
}

.logo-image {
  height: 7rem;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.nav-links-wrapper {
  display: flex;
  /* flex: 1; */
  justify-content: center;
}

.header-links {
  background-color: transparent;
  color: rgb(3, 11, 18);
  border-radius: 10px;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
}

.cart-link {
  background-color: transparent;
  color: rgb(3, 11, 18);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .header-links,
  .cart-link {
    padding: 2px 5px;
    font-size: 10px;
  }
}

/* PAYMENT PAGE */
.payment-text{
  display:flex;
  justify-content: space-between;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.delivery-form-container{
  flex:1;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container ::placeholder {
  color: rgba(73, 60, 68, 0.272);
}

.form-container label,
.form-container input,
.form-container p {
  width: 100%;
  text-align: left;
}
.form-container p {
  color: red;
}

.payment-container {
  display: flex;
  
}


.payment-form {
  display: flex;
  justify-content: center;
  
}
.user-form-swish input[type="number"]::-webkit-inner-spin-button,
.user-form-swish input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.payment-container {
  text-align: center;
}
.payment-btn {
  margin: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
.payment-btn {
  /* margin-top: 20px; */
  align-self: center;
}
.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  margin-top: 20px;
 
}

.user-form input,
.user-form link,
.payment-btn {
  padding: 10px;
  font-size: 16px;
}

.user-form link,
.payment-btn {
  background-color: rgba(255, 140, 0, 0.6);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.user-form link:hover,
.payment-btn:hover {
  background-color: rgba(255, 140, 0, 0.913);
}

input[type="text"] {
  font-size: 1rem;
  padding: 10px;
  border: 2px solid rgba(100, 51, 51, 0.475);
  border-radius: 5px;
  color: rgba(86, 45, 45, 0.356);
}
/* MENU PAGE?? */
.add-to-cart-link-and-btn {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.heart-shape {
  height: 1.4rem;
}
.heart-btn {
  height: 2rem;
  background-color: transparent;
  border: none;
  color: red;
  position: absolute;
  left: 140px;
  bottom: 15px;
}
.heart-btn:hover {
  transform: scale(1.05);
  border: 1px solid red;
  color: rgb(255, 0, 0);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.menu-image {
  height: 17rem;
  width: 17rem;
  object-fit: cover;
}
.menu-text {
  color: rgb(62, 11, 11);
  text-align: center;
  margin-top: 0;
  font-size: 4rem;
}
.menu-card-text {
  padding: 0;
}
.menu-card-title {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}
.menu-card-price {
  font-size: 1rem;
  margin: 0;
  text-align: left;
}
.menu-card-description {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.menu-card {
  background-color: rgba(248, 248, 247, 0.792);
  padding: 10px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(159, 123, 123);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}
.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 6px 6px 6px rgb(159, 123, 123);
  background-color: rgba(239, 201, 201, 0.457);
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.footer-container {
  color: rgba(74, 38, 38, 0.897);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(243, 227, 219, 0.594);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.menu-btn:hover,
.order-link:hover,
.header-links:hover,
.cart-link:hover {
  transform: scale(1.05);
  background-color: rgba(255, 140, 0, 0.6);
  color: white;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.menu-btn:hover {
  background-color: rgba(255, 140, 0, 0.6);
}
/* .order-link:hover {
  background-color: rgba(255, 140, 0, 0.6);
} */
.header-links:hover,
.cart-link:hover {
  background-color: rgba(255, 140, 0, 0.6);
}
/* HOME PAGE */
.welcome-text {
  font-size: medium;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.home-page-text {
  text-align: center;
}
.home-text {
  margin-right: 20px;
}
.collage-text{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: lighter;
}
.logo-img-home {
  height: 15rem;
  opacity: 0.5;
}
.home-text-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-collage-wrapper {
  display: flex;
  justify-content: center;
}
.img-collage {
  
  position: relative;
  width: 100%;
  max-width: 590px;
  height: 450px;
  margin: 20px 0;
  overflow: hidden;
}

.img-collage img {
  position: absolute;
  width: 20rem;
  height: 20em;
  transition: transform 0.3s, box-shadow 0.3s;
}

.img1 {
  top: 10px;
  left: 50px;
  transform: rotate(-5deg);
  z-index: 1;
}
.img2 {
  top: 40px;
  left: 140px;
  transform: rotate(10deg);
  z-index: 2;
}
.img3 {
  top: 90px;
  left: 190px;
  transform: rotate(-10deg);
  z-index: 3;
}
.img4 {
  top: 60px;
  left: 270px;
  transform: rotate(5deg);
  z-index: 4;
}
.img5 {
  top: 150px;
  left: 320px;
  transform: rotate(-20deg);
  z-index: 5;
}

.img-collage:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .img-collage-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .img-collage {
    max-width: 90%;
    height: auto;
  }
  .img-collage img {
    width: 100%;
    height: auto;
    position: static;
    transform: none;

  }
}

.home-btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

/* CART PAGE */
.delete-btn {
  background-color: rgb(244, 102, 102);
  border: none;
  border-radius: 10px;
  color: white;
  border-radius: 5px;
  height: 2rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: absolute; /* Lägg till absolut position */
  bottom: 5px;
  right: 9px;
}
.delete-btn:hover {
  transform: scale(1.05);
  background-color: rgba(255, 77, 0, 0.925);
  color: white;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.cart-add-more-items {
  border: 2px solid rgb(223, 130, 130);
}
.cart-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.empty-cart-text {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.total-price {
  text-align: right;
  padding-right: 60px;
}
.cart-input-amount {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 10px;
  width: 50px;
  font-size: 16px;
  text-align: center;
}
.cart-links-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

/* CONFIRMATION PAGE */
.confirm-text {
  text-align: center;
}
.confirm-thanks {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: lighter;
  color: rgba(12, 12, 12, 0.795);
}
.confirm-time {
  font-weight: normal;
  font-size: larger;
  color: rgb(35, 94, 54);
}
.confirm-items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: lighter;
  color: black;
}
/* Sign IN PAGE */

.register {
  position: absolute;
  top: 10px;
  right: 0%;
  transform: translateX(-50%);
}
.sign-in-container
{
  background-color: antiquewhite;
  height: 400px;
  width:350px;
  padding-top: 2rem;
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(159, 123, 123);
  transition: transform 0.3s, box-shadow 0.3s;

}
/* REGISTER PAGE */
.register-container{
   background-color: antiquewhite;
  height: 450px;
  width:350px;
  padding-top: 2rem;
  padding-right: 1rem;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(159, 123, 123);
  transition: transform 0.3s, box-shadow 0.3s;
}
.succ-reg-text {
  display: inline; 
  white-space: nowrap;
  position: absolute;
  top: 20px;
  left: -70px;
}
.succ-reg-btn {
  display: inline-block; 
  margin-top: 10px; 
}
/* ALL PAGES */
.color-wrapper {
  position: relative;
  background-color: rgba(248, 248, 247, 0.792);
  min-height: 100vh;
  margin: 0;
  padding-top: 7rem;
}
.ceter-text{
  align-self: center;
}
/* DELIVERY TIME */

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  color: rgb(138, 41, 41);
  font-size: 4rem;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px, 3px, 5px green;
}
.confirm-text {
  position: relative;
  top: -80px;
}
